body{
    background-color: black;
}

.list a{
    color: white;
    text-decoration: none;
}
.dropdown-menu{
    background-color: #8C52FF;
    color: aliceblue;
}
.bubble{
    background-color: #8C52FF;
}